<!DOCTYPE html>
<html>
	<head>
		<link href="{{ url_for('static', filename='fontawesome/css/all.css') }}" rel="stylesheet"> <!--load all styles -->
	</head>
  <body>
	{% extends "layout.html" %}
	{% block content %}
	   <div class="about">
	     <div class="intro jumbotron" style="margin-top: 50px; padding: 30px;">
	     	<h1>About me</h1>
	     	<img style="float: left; width= 50%;" src="{{ url_for('static', filename='img/Picture.jpg') }}">
		     <div class="intro_container" style="padding-left: 370px;">
		     	<h4>Facts:</h4>
		     	I'm Kathy, a computer science student at the University of British Columbia and a software developer. I'm currently going through my fourth year of studies!
		     	<br>
		     	<br>
		     	<p>Here's my <a href="{{ url_for('static', filename='docs/Resume.pdf') }}" target="_blank">resume</a>.</p>
		     	<h4>Interests:</h4>
			     <p>volleyball, baking, dogs, anime</p>
			     <div>
			     	<i class=" fab fa-github-square"></i>
			     	<p>GitHub: <a href="https://github.com/kwang101" target="_blank">https://github.com/kwang101</a>, LinkedIn: <a href="https://www.linkedin.com/in/kathy-wang-660b13108" target="_blank">https://www.linkedin.com/in/kathy-wang-660b13108</a></p>
			     	<img src="{{ url_for('static', filename='img/logo.png') }}">
			 	</div>
		     </div>
	     </div>
	 	<hr class="my-4">
	    <div class="contact" style="width=100%;">
			<h3>Let's Connect</h3>
			<center><p>Send me your questions, suggestions, tips, etc.</p></center>
			<form>
			  <fieldset>
			    <div class="form-group">
			      <label for="exampleName">Name</label>
			      <input type="fn" class="form-control" id="exampleName" aria-describedby="nameHelp" placeholder="Enter Full Name">
			      <small id="nameHelp" class="form-text text-muted">E.g. Kathy Wang</small>
			    </div>
			    <div class="form-group">
			      <label for="exampleInputEmail1">Email Address</label>
			      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
			      <small id="emailHelp" class="form-text text-muted">E.g. email@example.com</small>
			    </div>
			    <div class="form-group">
			      <label for="exampleSubject">Subject</label>
			      <input type="password" class="form-control" id="exampleSubject">
			    </div>
			    <div class="form-group">
			      <label for="exampleTextarea">Message</label>
			      <textarea class="form-control" id="exampleTextarea" rows="4"></textarea>
			    </div>
			    <button type="submit" class="btn btn-primary">Submit</button>
			  </fieldset>
			</form>
	 	</div>
	   </div>
	{% endblock %}
  </body>
</html>