<!DOCTYPE html>
<html>
  <body>
  	{% extends "layout.html" %}
  	{% block content %}
	   <div class="home">
	   	<div class="alert alert-dismissible alert-warning">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <h4 class="alert-heading">Warning!</h4>
		  <p class="mb-0">This website is still under constructions... please be patient. :)</p>
		</div>

		<div class="jumbotron">
		  <h1 class="display-3">Welcome!</h1>
		  <h3>Kathy Wang's Website</h3>
		  <p class="lead">This website was built with Python via the Flask framework.</p>
		  <hr class="my-4">
		  <p>Learn more about it here:</p>
		  <p class="lead">
		    <a class="btn btn-primary btn-lg" href="http://flask.pocoo.org/" target="_blank" role="button">Learn more</a>
		  </p>
		</div>

		<div class="progress">
		  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
		</div>
	   </div>
	{% endblock %}
  </body>
</html>