<!DOCTYPE html>
<html>
  <body>
  	{% extends "layout.html" %}
	{% block content %}
	   <div class="posts" style="margin-top: 50px;">
	     <h1>Posts</h1>
	     <p>This is where I share interesting posts ranging from puppies to tech news.</p>
	     <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>
	   </div>
	   <br>
	   <div class="posts_content">
		<div class="card mb-3" style="max-width: 400px;">
			  <h3 class="card-header">Jonas Brothers Reunion</h3>
		  <div class="card-body">
		    <h5 class="card-title">The Jonas Brothers are officially back!</h5>
		    <h6 class="card-subtitle text-muted">The band is back together and they're about to drop a new song</h6>
		  </div>
		  <center>
		  	<img style="height: 200px; width: 350px; display: block;" src="{{ url_for('static', filename='img/Jonas-Brothers.jpg') }}" alt="Card image">
		  </center>
		  <div class="card-body">
		    <p class="card-text">
		    	As a millenial I grew up with the boy band that was formed in 2005, The Jonas Brothers and I recall some of their biggest hits like Burning Up and S.O.S. being part of my "favourites" playlists my ipod nano. At last, they're back and their music video is I-CON-IC. It is clear that they've grown into such masculine and charistmatic men, and they're all with beautiful and talented wives (Joe and Sophie are engaged so they're pretty much married in my eyes). Checkout their music video and/or read more about their new release on this celebrity news post.
			</p>
		  </div>
		  <div class="card-body">
		    <a href="https://www.youtube.com/watch?v=CnAmeh0-E-U" class="card-link">Music Video</a>
		    <a href="https://www.mirror.co.uk/3am/celebrity-news/jonas-brothers-officially-back-together-14068426" class="card-link">Mirror Post</a>
		  </div>
		  <div class="card-footer text-muted">
		    Posted: 03/04/2019
		  </div>
		</div>

		<div class="card mb-3" style="max-width: 400px;">
			  <h3 class="card-header">SpaceX Launch</h3>
		  <div class="card-body">
		    <h5 class="card-title">Rocket Launch: NET March 2019</h5>
		    <h6 class="card-subtitle text-muted">SpaceX Falcon Heavy Arabsat 6A</h6>
		  </div>
		  <center>
		  	<img style="height: 200px; width: 350px; display: block;" src="{{ url_for('static', filename='img/SpaceX-Launch2019.jpg') }}" alt="Card image">
		  </center>
		  <div class="card-body">
		    <p class="card-text">
		    	As an ex-Tesla Software Engineer Intern, I'm always interested in news regarding the brother/sister companies that Elon Musk is managing. A SpaceX Falcon Heavy rocket will launch the Arabsat 6A communications satellite, built by Lockheed Martin, from Kennedy Space Center. The satellite will deliver television, internet and mobile phone services to the Middle East, Africa and Europe. Arabsat-6A is part of the two-satellite Arabsat-6G program for Arabsat.
			</p>
		  </div>
		  <div class="card-body">
		    <a href="https://www.kennedyspacecenter.com/launches-and-events/events-calendar/2019/march/rocket-launch-spacex-falcon-heavy-arabsat-6a" class="card-link">Kennedy Space Center Post</a>
		  </div>
		  <div class="card-footer text-muted">
		    Posted: 03/04/2019
		  </div>
		</div>
		</div>

		<div>
		  <ul class="pagination pagination-lg">
		    <li class="page-item disabled">
		      <a class="page-link" href="#">&laquo;</a>
		    </li>
		    <li class="page-item active">
		      <a class="page-link" href="#">1</a>
		    </li>
		    <li class="page-item">
		      <a class="page-link" href="#">2</a>
		    </li>
		    <li class="page-item">
		      <a class="page-link" href="#">3</a>
		    </li>
		    <li class="page-item">
		      <a class="page-link" href="#">4</a>
		    </li>
		    <li class="page-item">
		      <a class="page-link" href="#">5</a>
		    </li>
		    <li class="page-item">
		      <a class="page-link" href="#">&raquo;</a>
		    </li>
		  </ul>
		</div>
	{% endblock %}
  </body>
</html>