<!DOCTYPE html>
<html>
  <body>
  	{% extends "layout.html" %}
	{% block content %}
	   <div class="projects" style="margin-top: 50px;">
	     <h1>Projects</h1>
	     <p>This is where I list my projects.</p>
	     <p>GitHub: https://github.com/kwang101</p>
	     <ul class="nav nav-tabs">
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" href="#5olution">5olution</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link active" data-toggle="tab" href="#PrintingLikeAPro">PrintingLikeAPro</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" href="#ChromeExtension">Chrome Extension</a>
		  </li>
		</ul>
		<div id="myTabContent" class="tab-content">
		  <div class="tab-pane fade" id="5olution">
		  	<div class="card border-secondary mb-3">
			  <div class="card-header">March 2016</div>
			  <div class="card-body">
			    <h4 class="card-title">5olution</h4>
				<p class="card-text">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
			  </div>
			</div>
		  </div>
		  <div class="tab-pane fade" id="ChromeExtension">
		  	<div class="card border-secondary mb-3">
			  <div class="card-header">March 2017</div>
			  <div class="card-body">
			    <h4 class="card-title">PrintingLikeAPro</h4>
				<p class="card-text">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
			  </div>
			</div>
		  </div>
		  <div class="tab-pane fade active show" id="PrintingLikeAPro" style="margin-top: 20px;">
		    <div class="card border-secondary mb-3">
			  <div class="card-header">August 2015</div>
			  <div class="card-body">
			    <h4 class="card-title">PrintingLikeAPro</h4>
			    <p class="card-text">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
			  </div>
			</div>
		  </div>
		</div>
	   </div>
	{% endblock %}
  </body>
</html>